.App {
  text-align: center;
}

.nav-ul{
  list-style: none;
  display: flex;
  justify-content:flex-start;
  background-color: #61dafb;
  margin: 0px;
  padding: 5px;
}

#nav-product{
  margin-left: 5%;
}

.nav-ul2{
  list-style: none;
  display: flex;
  justify-content:flex-end;
  background-color: #61dafb;
  margin: 0px;
  padding: 5px;
}
.nav-ul2 li a{
  color: #ffffff;
  padding: 5px;
  margin: 5px;
  text-decoration: none;
}

.nav-ul li a{
  color: #ffffff;
  padding: 5px;
  margin: 5px;
  text-decoration: none;
}

.footer{
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: #61dafb;
}

.register,.add-product{
  margin-left:30%;
}

.login{
  margin-left:30%;
 margin-top: 10%;
}

.input-box{
    /* flex-direction: column;
    display: flex;
    align-items: center;
    text-align: start; */
    display: block;
    margin:25px;
    padding: 10px;
    width:300px;
    border: 1px solid skyblue;
}
.app-btn{
margin:25px;
padding:10px;
width:150px;
background-color: skyblue;
border:1px solid;
cursor: pointer;
}

fieldset{
  margin: 10px;
}

.logo{
  /* float: left; */
  position: absolute;
  top:0.4%;
  left: 1%;
  width: 30px;
  border-radius: 50%;
  }

  .invalid-input{
    color: red;
    display: block;
    margin-top: -20px;
    margin-left: 25px;
  }

  .product-list{
    border: 3px solid skyblue;
    border-collapse: collapse;
    margin: auto;
    width: 60%;
   text-align: center;
  }

  /* .list-container{
    border: 1px solid red; 
    height: 80vh;
  } */

  .list-heading{
    font-weight: bold;
    color: red;
    border: 3px solid skyblue;
  }
  
  .list-data{
    border: 3px solid skyblue;
    height: 50px;
  }

  .delete-btn{
    cursor: pointer;
    margin-right: 10px ;
  }

  .search-bar{
    width: 95%;
    border: 2px solid white;
    height: 21px;
    border-radius: 12px;
    padding-left: 14px;
  }

  .search-bar:focus{
    outline-color:skyblue;
  }

  .search-btn{
    width: 73%;
    height: 24px;
    background-color: white;
    color: rgb(32, 155, 216);
    border: skyblue;
    border-radius: 5px;
  }
  
  .search-background{
    background-color: skyblue;
  }

  .upper-body{
    height: 90vh;
    overflow: auto;
  }