.App {
  text-align: center;
}

.nav-ul{
  list-style: none;
  display: flex;
  justify-content:flex-start;
  background-color: #61dafb;
  margin: 0px;
  padding: 5px;
}

#nav-product{
  margin-left: 5%;
}

.nav-ul2{
  list-style: none;
  display: flex;
  justify-content:flex-end;
  background-color: #61dafb;
  margin: 0px;
  padding: 5px;
}
.nav-ul2 li a{
  color: #ffffff;
  padding: 5px;
  margin: 5px;
  text-decoration: none;
}

.nav-ul li a{
  color: #ffffff;
  padding: 5px;
  margin: 5px;
  text-decoration: none;
}

.footer{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: #61dafb;
  
}

.register{
  margin-left:30%;
}

.login{
  margin-left:30%;
 margin-top: 10%;
}

.input-box{
    /* flex-direction: column;
    display: flex;
    align-items: center;
    text-align: start; */
    display: block;
    margin:25px;
    padding: 7px;
    width:300px;
    border: 1px solid skyblue;
}
.app-btn{
margin:25px;
padding:10px;
width:150px;
background-color: skyblue;
border:1px solid;
cursor: pointer;
}

fieldset{
  margin: 10px;
}

.logo{
  /* float: left; */
  position: absolute;
  top:0.4%;
  left: 1%;
  width: 30px;
  border-radius: 50%;
  }